/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */
.header{
    text-align: center;
    padding:30px;
    background-color: navy;
    color:white;
}
h1{
    font-size: 36px;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    margin:40px 20px;
    color:white;
    text-transform: uppercase;
}
.marker-container{
    background-color: navy;
    padding:80px;
}
h2{
    font-size: 36px;
    color:white;
    margin-bottom: 30px;
}
p{
    font-size: 20px;
    color:white;
    margin-top: 30px;
}
h3{
    font-size:36px;
    color:white;
    margin-bottom: 30px;
}
.marker-container-one{
    background-color:cornflowerblue;
    padding:80px;
}
img{
    width:200px;
    height:200px;
    border-radius:50%;
    margin-bottom:30px;
}
.text{
    margin-bottom:20px;
}
.marker-container-two{
    background-color: cadetblue;
    padding:80px;
}
.marker-container-three{
    background-color: darkcyan;
    padding:80px;
}
.footer{
    text-align: center;
    font-size: 24px;
    background-color: navy;
    padding:40px;
    color:white;
}

