/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */
body{
   line-height: 1.5;
   padding-bottom: 200px;
}
h1{
  color:black;
  font-size: 64px;
  text-align: center;
  padding:32px 260px;
}
hr{
    width:500px;
    border-style: dashed;
    color:gray;
    margin:32px auto;
}
h2{
    text-align: center;
    margin:32px;
    font-size: 40px;
}
.box{
    width:100px;
    height:100px;
    background-color:aquamarine ;
    margin:0 auto;
    border:20px solid lightseagreen;
    outline:4px solid black;
    box-shadow: 0 0 0 20px crimson;
}
.circle{
    width:15px;
    height:15px;
    border-radius: 50%;
    background-color: aquamarine;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.padding{
    background-color: lightseagreen;
}
.border{
    background-color: black;
}
.margin{
    background-color: crimson;
}
.marker-container{
    text-align: center;
    margin-top: 60px;
}
.marker{
    display: inline-block;
    margin:0 16px;
}
p{
    font-size: 24px;
    text-align: center;
    margin:0 32px;
}
.container{
    width:600px;
    border:1px solid gray;
    margin:24px auto;
    font-size: 0;
}
.child-box{
    width:180px;
    height:100px;
    margin:10px;
    background-color: gray;
    display:inline-block;
}
.border{
    border: 1px solid black;
}
.border-box{
    box-sizing: border-box;
}